<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{data.head.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
    <script src="scripts/modernizr.js"></script>
  </head>
  <body ng-app="resumeApp">
  <section class="container" ng-controller="resumeController">
    <header>
      <div class="row">
        <div class="col-md-4 user-img">
          <img ng-src="{{data.basics.imgurl}}" class="">
        </div>
        <div class="col-md-6 header-cont">
          <h1>{{data.basics.name}}</h1>
          <h3><a href="mailto:{{data.basics.email}}">{{data.basics.email}}</a></h3>
          <h3><a href="skype:{{data.basics.skype}}">skype: {{data.basics.skype}}</a></h3>
          <span ng-repeat="mobile in data.basics.mobile">
            <h3>{{mobile}}</h3>
          </span ng-repeat="item in data.work">
          <blockquote>{{data.basics.quote}}</blockquote>
        </div>
      </div>
    </header>
    <section class="page-body">
      <section class="workexpirence info-block">
         <h4>Work Experience</h4>
         <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-11">
           <ul class="info-list">
              <li ng-repeat="item in data.work">
                <div class="row">
                  <span><b>{{item.company}}</b></span> 
                  <span>{{item.year}}</span>
                  <div>{{item.position}}</div>
                  <ul class="info-list">
                    <li ng-repeat="project in item.projects"> 
                        <ul class="info-list">
                          <li ng-repeat="descr in project.desc" class="project-description">
                            <span>
                              {{descr}}
                            </span> 
                          </li>
                        </ul>
                    </li>
                  </ul>
                </div>
              </li>
           </ul>
         </div>
         </div>
      </section>
      <section class="assets info-block">
        <h4>Professional Skills</h4>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5 hidden-xs">
            <ul class="asset-list asset-list-cont">
              <li ng-repeat="item in data.skills">{{item.name}}</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="asset-list">
              <li ng-repeat="item in data.skills">
                <div class="bar">
                  <div class="bar-value" ng-style="{width: item.scale+'%'}"></div>
                </div>
                <span class="visible-xs">{{item.name}}</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="assets info-block">
        <h4>Language Skills</h4>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <ul class="asset-list">
              <li ng-repeat="item in data.personalskills">
                <div class="bar">
                  <div class="bar-value" ng-style="{width: item.value+'%'}"></div>
                </div>
                <span class="visible-xs">{{item.name}}</span>
              </li>
            </ul>
          </div>
          <div class="col-md-5 hidden-xs">
            <ul class="asset-list asset-list-cont">
              <li ng-repeat="item in data.personalskills">{{item.name}}</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="education info-block">
         <h4>Education</h4>
         <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-11">
         <ul class="info-list">
            <li ng-repeat="item in data.education">
              <span>{{item.year}}</span> {{item.school}}
              <div>{{item.degree}}</div>
            </li>
         </ul>
         </div>
         </div>
      </section>
    </section>
  </section>




    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <script src="scripts/main.js"></script>
</body>
</html>
